.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Start fisrt section*/
.line{
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    border: none;
    border-top: 2px solid #ccc;
}

.section1 {
    display: flex;
    flex-direction: space-between;
    justify-content: center;
    align-items: center;
    text-align:center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #26668C 0%, #0A1C26 100%);
    gap: 50px;
}
.section1 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  padding: 0 100px;
}

.section1 h1{
    font-size: 7rem;
    font-family: 'Oxanium', sans-serif;
    margin-bottom: 6rem;
    margin-top: 0;
    color: white;
}

.section1 h2{
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 10rem;
    font-family: 'Exo', sans-serif;
    color: white;
}

.section1 button{
    width: 350px;
    height: 100px;
    margin-top:105px;
    font-size: 40px;
    border-radius: 30px;
    background-color: #A7ECF3;
    font-family: 'exo', sans-serif;
}

.section1 img{
  width: 90rem;
  height: auto;
  object-fit: contain;
  padding: 0 100px;
}

/*First section done*/

/*Start second section*/
.section2 {
   width: 100vw;
   padding: 64px 48px;
   min-height: 100vh;
}

.section2 h3 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 48px;
    font-family: 'Exo', sans-serif;
}
.section2 button{
  width: 250px;
  height: 70px;
  font-size: 36px;
  border-radius: 16px;
  margin-top: 120px;
  background-color: #A7ECF3;
  font-family: 'exo', sans-serif;
}

/*Second section done*/

/*Start third section*/
.section3 {
  width: 100vw;
}
.section3 h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 48px;
    font-family: 'Exo', sans-serif;
} 
.section3 p {
    font-size: 2rem;
    line-height: 1.6;
    color: white;
    max-width: 800px;
    text-align: center;
    font-family: 'Exo', sans-serif;
}