.backbutton{
    display: flex;
    margin: 100px;
    background: none !important;
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    filter: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.img {
    padding: 5rem;
    max-width: fit-content;
    background-color: #E2F1F3;
    border-radius: 30px;
}


