.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 0 5rem;
    justify-content: center;
}

.container {
    padding: 5rem;
}

.backbutton{
    display: flex;
    margin: 100px;
    background: none !important;
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    filter: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
